<section class="btm-footer">
    <div class="container p-4">
        <div>
            <div class="p-4 text-center">
                <h4 class="text-primary">AU NEWS</h4>
                <marquee behavior="scroll" direction="left">Scroll down for latest news about Anna University</marquee>
            </div>
        </div>
        <div class="row">
            {{#each news}}
            <div class="col-md-4 p-4">
                <a href="/au-news/{{this.NEWS_NAME}}/{{this.NEWS_DESCRIPTION}}/{{this.NEWS_CODE}}">
                    <h5 class="text-dark">{{this.NEWS_NAME}}</h5>
                </a>
                <div class="d-flex justify-content-between news_footer">
                    <p>by STUCOR</p>
                    <p><i class="bi bi-clock pr-2"></i>{{this.NEWS_DATE}}</p>
                    <a href="" class="text-dark">Read more→</a>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</section>